body{
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    height: 100vh;
}

h1{
    color: goldenrod;
    
}
#message-el{
    font-size: 30px;
    color: white;
    font-style: italic;
}
p{
    color: white;
    font-size: 25px;
}
button{
    color: #016f32;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    margin-bottom: 10px;
}